.vertical-nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: #242424;
    position: fixed;
    transition: all .3s ease-in-out;
    box-shadow: 2px 0 rgba(36, 36, 36, 0.5);
    z-index: 10000;

    &__toggle{
        position: absolute;
        left: 95%;
        top: 45%;
        background-color: #FF93F4;
        cursor: pointer;
        border-radius: 12px;
        padding: 10px 5px;
        box-shadow: 2px 2px rgba(36, 36, 36, 0.5);
    }

    &__icon{
        transition: all .3s ease-in-out;
        &.rotate{
            transform: rotate(180deg);
        }
    }

    &.hide{
        left: -230px;
    }

    &.show{
        left: 0;
    }
}