.login-container{
    display: inline-block;
    padding: 50px;
    border: 2px solid #242424;
    border-radius: 24px;
    //background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(55,55,55,1) 100%);
    color: #242424;
    background-color: #82B4FF;
    box-shadow: 5px 5px rgba(36, 36, 36, 0.5);

    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__input-container{
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            height: 50px;
        }

        &__field-error{
            color: rgba(36, 36, 36, 0.8);
            font-size: 16px;
        }

        &__submit-button{
            width: 100%;
            font-size: 18px;
            cursor: pointer;
            background-color: #FF93F4;
            border: 2px solid #242424;
            border-radius: 5px;
            box-shadow: 3px 3px rgba(36, 36, 36, 0.5);
        }
    }
}