.login-container{
    display: inline-block;
    padding: 50px;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(55,55,55,1) 100%);
    color: #fff;

    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__input-container{
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            height: 50px;
        }

        &__field-error{
            color: #ff6961;
            font-size: 16px;
        }

        &__submit-button{
            width: 100%;
            font-size: 18px;
            background-image: linear-gradient(45deg, rgba(208,230,234,1) 0%, rgba(246,246,189,1) 100%);
            cursor: pointer;

            &:hover{
                background-image: linear-gradient(45deg, rgba(208,230,234,1) 100%, rgba(246,246,189,1) 0%);
            }
        }
    }
}